<head>
    <link rel="stylesheet" href="templates/Dashboard.css">
</head>

<body>

<div class="container-fluid small text-nowrap">
    <div class="row">
        <div id="completedTable" class="col-md-4" id="left">
        <caption>RECENTLY COMPLETED</caption>
            <table class="table table-hover table table-bordered table-condensed">
                <thead>
                <tr>
                    <th><a href="" ng-click="orderByField='jobExecutionId'; reverseSort = !reverseSort">
                        JOB_EXECUTION_ID
                <span ng-show="orderByField == 'jobExecutionId'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a></th>
                    <th><a href="" ng-click="orderByField='jobName'; reverseSort = !reverseSort">
                        JOB_NAME
                <span ng-show="orderByField == 'jobName'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a>
                    <th><a href="" ng-click="orderByField='exitCode'; reverseSort = !reverseSort">
                        EXIT_CODE
                <span ng-show="orderByField == 'exitCode'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="job in resp | orderBy:orderByField:reverseSort | filter: {exitCode :'COMPLETED'} | limitTo : 5"
                    ng-class="getRowColour(job.exitCode)" ng-click="gettingSteps(job.jobExecutionId)">
                    <td>{{ job.jobExecutionId }}</td>
                    <td>{{ job.jobName }}</td>
                    <td>{{ job.exitCode }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="row">
            <div id="failedTable" class="col-md-4" id="right">
            <caption class="text-center">RECENTLY FAILED</caption>
                <table class="table table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="orderByField='jobExecutionId'; reverseSort = !reverseSort">
                            JOB_EXECUTION_ID
                <span ng-show="orderByField == 'jobExecutionId'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a></th>
                        <th><a href="" ng-click="orderByField='jobName'; reverseSort = !reverseSort">
                            JOB_NAME
                <span ng-show="orderByField == 'jobName'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a>
                        <th><a href="" ng-click="orderByField='exitCode'; reverseSort = !reverseSort">
                            EXIT_CODE
                <span ng-show="orderByField == 'exitCode'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="job in resp | orderBy:orderByField:reverseSort | filter: {exitCode :'FAILED'} | limitTo : 5"
                        ng-class="getRowColour(job.exitCode)" ng-click="gettingSteps(job.jobExecutionId)">
                        <td>{{ job.jobExecutionId }}</td>
                        <td>{{ job.jobName }}</td>
                        <td>{{ job.exitCode }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="runningTable" class="col-md-4" id="middle">
                <caption class="text-center">CURRENTLY RUNNING</caption>
                <table class="table table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="orderByField='jobExecutionId'; reverseSort = !reverseSort">
                            JOB_EXECUTION_ID
                <span ng-show="orderByField == 'jobExecutionId'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a></th>
                        <th><a href="" ng-click="orderByField='jobName'; reverseSort = !reverseSort">
                            JOB_NAME
                <span ng-show="orderByField == 'jobName'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a>
                        <th><a href="" ng-click="orderByField='exitCode'; reverseSort = !reverseSort">
                            EXIT_CODE
                <span ng-show="orderByField == 'exitCode'">
                    <span ng-show="reverseSort" class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                </span></a>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="job in resp | orderBy:orderByField:reverseSort | filter: {exitCode :'UNKNOWN'} | limitTo : 5"
                        ng-class="getRowColour(job.status)" ng-click="gettingSteps(job.jobExecutionId)">
                        <td>{{ job.jobExecutionId }}</td>
                        <td>{{ job.jobName }}</td>
                        <td>{{ job.exitCode }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>